<header class="c-jumbotron">
    <div class="container container-smooth">
        <ul class="breadcrumb">
            <li><a href="" ui-sref="products({productid: ''})">All Products</a></li>
            <li class="active">{{product.productName}}</li>
        </ul>
        <header class="l-page-header">
            <h3 class="l-page-header__title">
                <small class="text-muted">Product</small> <br> {{product.productName}}
            </h3>
        </header>
        <oc-responsive-tabs nav-items="product.navigationItems"></oc-responsive-tabs>
    </div>
</header>
<br>
<article class="container container-smooth">
    <div ui-view cg-busy="application.stateLoading('product')">
        <div class="row">
            <div class="col-sm-8">
                <form name="product.form" autocomplete="off" ng-submit="product.updateProduct()" cg-busy="product.loading" novalidate class="form-horizontal" oc-readonly-roles="ProductAdmin" oc-pretty-submit>
                    <fieldset class="form-group">
                        <label for="ProductID" class="col-sm-3 control-label">Product ID</label>
                        <div class="col-sm-9">
                            <input id="ProductID" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" type="text" class="form-control" ng-model="product.model.ID"
                                   required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input id="ProductName" type="text" class="form-control" ng-model="product.model.Name" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductDescription" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <text-angular id="ProductDescription" ng-model="product.model.Description" ta-toolbar="product.descriptionToolbar"></text-angular>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductBrand" class="col-sm-3 control-label">Brand</label>
                        <div class="col-sm-9">
                            <input id="ProductBrand" type="text" class="form-control" ng-model="product.model.xp.Brand">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductComments" class="col-sm-3 control-label">Comments</label>
                        <div class="col-sm-9">
                            <input id="ProductComments" type="text" class="form-control" ng-model="product.model.xp.Comments">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="keywords" class="col-sm-3 control-label">Keywords</label>
                        <tags-input class="col-sm-9" ng-if="product.state === 'product' || product.state === 'product.pricing'" ng-model="product.keywords" ng-init="product.setKeywords()"></tags-input>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="QuantityMultiplier" class="col-sm-3 control-label">Qty Multiplier</label>
                        <div class="col-sm-9">
                            <input id="QuantityMultiplier" type="number" class="form-control" min="1" ng-model="product.model.QuantityMultiplier" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="UnitOfMeasure" class="col-sm-3 control-label">Unit of Measure</label>
                        <div class="col-sm-9">
                            <input id="UnitOfMeasure" type="text" class="form-control" ng-model="product.model.xp.UnitOfMeasure">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="ProductActive">
                                    <input id="ProductActive" name="ProductActive" type="checkbox" ng-model="product.model.Active"> Active
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="ProductApproval">
                                    <input id="ProductApproval" name="ProductApproval" type="checkbox" ng-model="product.model.xp.ApprovalRequired"> Approval Required
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" oc-if-roles="ProductAdmin">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" cg-busy="product.productUpdateLoading" ng-disabled="product.form.$invalid" class="btn btn-primary btn-block">Update Product Info</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-4">
                <oc-file-upload product="product.model" file-upload-model="product.model.xp" file-upload-options="product.fileUploadOptions"></oc-file-upload>
            </div>
        </div>
    </div>
</article>