<article>
    <header class="l-page-header">
        <h3 class="l-page-header__title">
            {{catalogChipGrid.chipGrid.Name}} Chip Grid <br>
            <small class="text-muted">Select a section to manage products.</small>
        </h3>
    </header>
    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" heading="{{section.Name}}" ng-click="catalogChipGrid.setSection(section)" ng-repeat="section in catalogChipGrid.sections">
            <section class='example' cg-busy="catalogChipGrid.loading">
                <div class='gridly'>
                    <div ng-repeat="chip in catalogChipGrid.selectedSection.ProductList" class='brick small'>
                        <p class="text-center">
                            {{chip.ProductID}}
                        </p>
                        <br/>
                        <p class="text-center text-muted text-small">{{chip.ListOrder}}</p>
                    </div>
                </div>
                <button class="btn btn-primary btn-md" ng-click="catalogChipGrid.saveSection()">Save Section</button>
            </section>
        </div>
    </uib-accordion>
    <style>
        .example {
            position: relative; 
            overflow-x: scroll;
            overflow-y: scroll;
        }
        .example .brick {
            opacity: 1;
            cursor: pointer;
            position: relative; 
        }
        .example .brick.small {
            width: 140px;
            height: 140px; 
            border: 1px solid rgba(131, 131, 135, .5);
        }
    </style>
</article>